.player1 {
  text-align: right;
  width: 18%;
  margin-right: 5%;
  display: inline-block;
  word-break: break-all;
}

.player2 {
  text-align: center;
  display: block;
}

.player3 {
  text-align: left;
  width: 18%;
  margin-left: 5%;
  display: inline-block;
  word-break: break-all;
}

.this-player {
  text-align: center;
}

#table {
  border: 2px solid gray;
  text-align: center;
  width: 50%;
  height: 30%;
  padding: 10px;
  display: inline-table;
}

#table .card-div {
  display: block;
}

.card-img {
  width: 50px;
  height: 66px;
}

#card-div {
  font-size: 0px;
}

#hand .card {
  display: inline-flex;
  margin: 5px;
}

#middle {
  display: inline;
  margin: auto;
}

.card-text {
  display: none;
}

.played-card-1 {
  text-align: left;
  display: inline !important;
  margin-right: 20%;
}

.played-card-3 {
  text-align: right;
  display: inline !important;
  margin-left: 20%;
}

.table-card-1 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.table-card-3 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
