.player1 {
  text-align: left;
  width: 10%;
  display: inline-block;
  word-break: break-all;
}

.player2 {
  text-align: center;
  display: block;
}

.player3 {
  text-align: right;
  width: 10%;
  display: inline-block;
  word-break: break-all;
}

.this-player {
  text-align: center;
}

#table {
  border: 2px solid gray;
  text-align: center;
  width: 75%;
  height: 30%;
  padding: 10px;
  display: inline-table;
}

#table .card-div {
  display: block;
}

.card-img {
  width: 50px;
  height: 66px;
}

#card-div {
  font-size: 0px;
}

#hand .card {
  display: inline-flex;
  margin: 5px;
}

#middle {
  display: inline;
  margin: auto;
}

.card-text {
  display: none;
}

.played-card-1 {
  text-align: left;
  display: inline !important;
  margin-right: 40%;
}

.played-card-3 {
  text-align: right;
  display: inline !important;
  margin-left: 40%;
}
